body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.calculator {
    backdrop-filter: blur(5.5px);
    background-color: rgba(92, 88, 88, 0.199);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid black;
    border-radius: 5vh;
    color: #232323;
    font-size: 25px;
    overflow: auto;
    padding: 10px;
    text-align: right;
    width: 326px;
    
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
}
div{
    border: 1px solid rgb(82, 61, 61);
 
}
html {
    box-sizing: border-box;
    height: 100%;
   

}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: (255, 255, 255, 0.75);
    border: 0.5px solid rgba(0, 0, 0, 0.393);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;


}


.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: (255, 255, 255, 0.75);
    border: 1px solid rgb(207, 26, 26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(247, 0, 0);
    color: fff;
    background: #d72880;

}


.calc-button:last-child:hover {
    background-color: rgb(234, 13, 13);

}

.calc-button:hover {
    background-color: rgba(77, 76, 76, 0.286);
    color: white;
    border: 1px solid black;
    transition: 0.6s;

}

.calc-button:active {
    background-color: #27db1d;
}
#display{
    padding-top: 20px;
    padding-left: 80px;
    border-radius: 5vh;
}
h1{
    font-size: medium;
    margin: auto;
    display: flex;
    margin-left: 30%;
    background-color: rgba(226, 230, 234, 0.886);
    max-width: 140px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2vh;
    margin-bottom: 10px;

}
h1:hover{
    background-color: rgba(85, 85, 87, 0.308);
    color: white;
    transition: 1s;
    
    
}
.calc-button-row{
    border: 1px solid rgba(110, 108, 108, 0.799);
    border-radius: 2vh
 

}
.calc-button-row:hover{
    background-color: rgba(77, 76, 76, 0.286);
    color: white;
    transition: 0.6s;
}